body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: Mulish;
}
@font-face {
  font-family: Mulish;
  src: url(../fonts/Mulish-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.journey {
  height: 100%;
  width: 100%;
}
.journey .main {
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  color: #fff;
  background: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}
.journey .main .im {
  animation: rollout 1500ms forwards;
  position: absolute;
  height: 100%;
  filter: drop-shadow(9px 9px 9px rgba(0, 0, 0, 0.3));
}
.journey .main .text {
  width: 40%;
  position: absolute;
  right: 10%;
  top: 20%;
  font-size: 1.6vw;
  line-height: 30px;
  animation: opacity 2s 1s forwards;
  opacity: 0;
}
.journey .main .contacts {
  position: absolute;
  right: 8px;
  bottom: 8px;
}
.journey .main .contacts a {
  display: block;
  color: #fff;
}
.journey .skills {
  background: linear-gradient(to right, #141e30, #243b55);
  margin-top: 100vh;
  height: 100vh;
  border-radius: 16px 16px 0 0;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.journey .skills h1 {
  font-size: 4vw;
  padding-top: 16px;
  width: 100%;
  text-align: center;
}
.journey .skills .columns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.journey .skills .columns > div {
  border-radius: 16px;
  background: #0f2027;
  width: 25%;
  position: relative;
  overflow: hidden;
  padding-bottom: 16px;
}
.journey .skills .columns > div h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 16px 0;
  font-weight: 600;
  padding: 8px 0;
  background: #162b32;
}
.journey .skills .columns > div h4 {
  margin: 0;
  padding: 0 16px;
}
.journey .skills .columns > div > div {
  margin-left: 16px;
  padding: 0 16px;
}
.journey .skills .columns > div > img {
  position: absolute;
  width: 15vw;
  bottom: 0vw;
  right: 0vw;
}
.scroll-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.scroll-down img {
  height: 18px;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rollout {
  0% {
    left: -100vw;
  }
  100% {
    left: -150px;
  }
}
