@font-face {
  font-family: 'UbuntuMono';
  src: url('UbuntuMono-B.ttf');
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  color: #11a61b;
  font-family: 'UbuntuMono';
  background: url('bg.jpg');
  background-size: contain;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60vh;
  padding-top: 4em;
  padding-right: 5vw;
  padding-left: 5vw;
  overflow-y: scroll;
}
.timer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  padding: 0.2em 0;
  font-size: 1.5em;
  text-align: center;
  background: black;
}
.veigar {
  position: fixed;
  z-index: 9;
  width: min(20vw, 20vh);
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
.vanya {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9;
  width: min(60vw, 60vh);
}
.meme {
  z-index: 8;
  width: 100%;
  margin-bottom: 1em;
}
.starwars-expander {
  position: relative;
  width: 100%;
  height: calc(100vh - 5em);
  color: yellow;
  text-align: center;
}
.starwars {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50em;
  overflow: hidden;
  color: yellow;
  font-size: 350%;
  text-align: center;
  -webkit-transform: perspective(300px) rotateX(15deg);
  -webkit-transform-origin: 50% 100%;
}
.starwars img {
  width: 100%;
}
.crawl {
  position: absolute;
  top: 100%;
  width: 100%;
  animation: scroll 240s linear infinite;
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -1000%;
  }
}
